<app-red-hero>
  <h1 class="title">
    You did it!
  </h1>
</app-red-hero>
<br />
<div class="columns">
  <div class="column is-6 is-offset-3">
    <article class="tile is-child notification is-danger">
      <div class="columns">
        <div class="column is-2">
          <app-loading></app-loading>
        </div>
        <div class="column is-10">
          <h1 class="title">You have succesfully signed up!</h1>
          <h2 class="subtitle">
            You will be redirected to our 'sign-in' page in 5 seconds!
          </h2>
        </div>
      </div>
    </article>
  </div>
</div>
