<app-red-hero>
  <h1 class="title">
    Profile Page
  </h1>
  <h2 class="subtitle">
    Customize your info and see your collection!
  </h2>
</app-red-hero>
<br />
<div class="columns">
  <div class="column is-6 is-offset-3">
    <article class="tile is-child notification is-danger">
      <div class="columns">
        <div class="column is-5">
          <figure class="image is-128x128">
            <img src="{{ currentProfile.imageUrl }}" alt="" />
          </figure>
        </div>
        <div class="column is-7">
          <p>{{ currentProfile.email }}</p>
          <br />
          <p>{{ currentProfile.userName }}</p>
        </div>
      </div>
    </article>
  </div>
</div>
