<app-red-hero>
  <h1 class="title">
    Profile Page
  </h1>
  <h2 class="subtitle">
    Customize your info and see your collection!
  </h2>
</app-red-hero>
<br />
<div class="columns">
  <div class="column is-6 is-offset-3">
    <article class="tile is-child notification is-danger">
      <div class="columns">
        <div class="column is-5">
          <figure class="image is-128x128">
            <img src="{{ currentProfile.imageUrl }}" alt="" />
          </figure>
        </div>
        <div class="column is-7">
          <p>E-Mail: {{ currentProfile.email }}</p>
          <br />
          <p>
            User Name:
            {{
              currentProfile.userName === ''
                ? 'Username not set'
                : currentProfile.userName
            }}
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="columns">
  <div class="column is-4 is-offset-3 buttons">
    <button
      class="button is-danger"
      [disabled]="changePic || changeUser"
      (click)="onChangeProfilePic()"
    >
      Change Profile Pic
    </button>
    <button
      class="button is-danger"
      [disabled]="changePic || changeUser"
      (click)="onChangeUserName()"
    >
      Change User Name
    </button>
  </div>
</div>
<div class="columns" *ngIf="changeUser || changePic">
  <div class="column is-2 is-offset-3">
    <input
      #input
      class="input"
      type="text"
      placeholder="Enter {{ changeUser ? 'UserName' : 'Url' }} here"
    />
  </div>
  <div class="column is-3 buttons">
    <button class="button is-danger" (click)="onSubmitChanges()">Submit</button>
    <button class="button is-danger" (click)="onCancelChanges()">Cancel</button>
  </div>
</div>
